<h2>Zakupione bilety</h2>

<table>
  <thead>
    <tr>
      <th>Imię i nazwisko</th>
      <th>Numer siedzenia</th>
      <th>Adres</th>
      <th>Cena</th>
      <th>Adres e-mail</th>
      <th>Numer telefonu</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.name %></td>
        <td><%= ticket.seat_id_seq %></td>
        <td><%= ticket.address %></td>
        <td><%= ticket.price %></td>
        <td><%= ticket.email_address %></td>
        <td><%= ticket.phone %></td>
      </tr>
    <% end %>
  </tbody>
</table>