<p id="notice"><%= flash[:notice] %></p>

<p>
  <strong>Nazwa artysty:</strong>
  <%= @event.artist %>
</p>

<p>
  <strong>Krótki opis:</strong>
  <%= @event.description != "" ? @event.description : "Brak" %>
</p>

<p>
  <strong>Cena minimalna:</strong>
  <%= @event.price_low %>
</p>

<p>
  <strong>Cena maksymalna:</strong>
  <%= @event.price_high %>
</p>

<p>
  <strong>Data wydarzenia:</strong>
  <%= @event.event_date %>
</p>

<p>
  <strong>Limit wieku:</strong>
  <%= @event.age_limit %>
</p>

<p>
  <strong>Liczba miejsc:</strong>
  <%= @event.ticket_amout %>
</p>

<p>
  <strong>Sprzedanych miejsc:</strong>
  <%= @event.tickets.count %>
</p>

<%= render "new_ticket", ticket: Ticket.new(:event_id=>@event.id) %>

<%= render "tickets_list", tickets: @event.tickets %>

<%= link_to 'Powrót', events_path %>